.glass {
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 300px;
    height: 280px;
}

.glass > div {
    height: 33.33%;
    width: 33.333%;
    z-index: 1;
    float: left;
    display: inline-block;
    position: relative;
}

.top_left:hover .image {
    transform: translate(20%, 20%) scale(1.5);
}

.top_centre:hover .image {
    transform: translate(0%, 20%) scale(1.5);
}

.top_right:hover .image {
    transform: translate(-20%, 20%) scale(1.5);
}

.middle_left:hover .image {
    transform: translate(20%, 0) scale(1.5);
}

.middle_centre:hover .image {
    transform: translate(0, 0) scale(1.5);
}

.middle_right:hover .image {
    transform: translate(-20%, 0) scale(1.5);
}

.bottom_left:hover .image {
    transform: translate(20%, -20%) scale(1.5);
}

.bottom_centre:hover .image {
    transform: translate(0, -20%) scale(1.5);
}

.bottom_right:hover .image {
    transform: translate(-20%, -20%) scale(1.5);
}

.image {
    transition: all 1.5s ease;
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.container {
    width: 100%;
    text-align: center;
}